*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.25px;
    font-size: 1rem;
    font-weight: 300;
}

main {
    padding: 2rem 1rem 2rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    padding: 2rem;
    border: 1px solid #d4dbe0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card:first-of-type {
    border-radius: 8px 8px 0px 0px;
}
.card:last-of-type {
    border-radius: 0px 0px 8px 8px;
}
.card .flag {
    top: 0;
    position: relative;
    line-height: 2.5rem;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    width: calc(100% + 3rem);
    margin-inline-start: -1.5rem;
    margin-block-start: -2rem;
}
.card .flag::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    background-color: inherit;
    border-color: inherit;
    border-top: solid 10px transparent;
    border-left: solid 10px #fff;
    border-right: solid 10px #fff;
}

h3.title {
    font-size: 1rem;
    font-weight: 500;
    margin: 1.5rem 0 1.5rem 0;
}

.price-wrapper {
    margin-bottom: 0.75rem;
}
.price {
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    font-weight: 700;
}
.price-top {
    margin-bottom: 0;
}
.price-content p {
    margin-top: 0;
    font-size: .8rem;
    font-weight: 300;
}
.on-sale {
    font-weight: 500;
    background-color: #ffeea9;
    padding: .25rem .5rem;
}

button {
    display: block;
    width: 100%;
    background: #fff;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid #000;
}
button:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

ul {
    margin-top: 2rem;
    padding-left: 0;
}

.plan-details li {
    list-style: none;
    margin-bottom: 1.75rem;
}

.plan-details li::before {
    content: '✓';
    padding-right: 0.5rem;
    color: #39c939;
}

a::visited {
    color: #000;
}

hr {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid #e8eaeb;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}


/* Screen size of 768px and HIGHER will see all 3 plans in a row instead of a column */
@media (min-width: 769px) {
    article {
        display: flex;
        flex-flow: row wrap;
        padding: 2rem;
    }
    article > .card {
        flex: 1 0 0%;
        margin-bottom: 0;
        width: 100%;
    }
    .card:nth-of-type(1) {
        border-radius: 8px 0px 0px 8px;
        border-right: none;
    }
    .card:last-of-type {
        border-radius: 0px 8px 8px 0px;
        border-left: none;
    }
}

